@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!!!</h1>
    <h3>@ViewBag.Environment Environment</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et leo risus. Vestibulum maximus malesuada magna ac congue. Donec ultricies luctus nunc, et bibendum dolor placerat a. Nulla in leo sit amet magna scelerisque tincidunt. In in lacus nibh. Maecenas dictum tortor orci, ac molestie lectus pulvinar et. Nulla id vestibulum augue, id dapibus elit. Donec tortor nulla, hendrerit et augue scelerisque, lacinia consectetur odio. Curabitur a justo eget felis auctor euismod. Donec vehicula tempor lacus eu fringilla. Duis a volutpat quam.</p>
</div>
